.weather-info {
  width: auto;
  height: 80px;
  border-collapse: collapse;
}

.weather-info__th {
  border-bottom: 2px solid #ccc;
}

.weather-info__td {
  text-align: center;
}

.weather-info__td,
.weather-info__th {
  padding: 10px;
}
