.header__search {
  width: 15vw;
  height: 30px;
  display: flex;
}

.search__input {
  padding-left: 10px;
  width: calc(15vw - 30px);
  border: 2px solid #000;
  border-radius: 15px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  outline: none;
}

.search__input:focus {
  border-color: #9c08c4;
}

.search__btn {
  box-sizing: border-box;
  padding: 0;
  width: 30px;
  border: 2px solid #9c08c4;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c08c4;
}

.search__btn:hover {
  cursor: pointer;
}

.search__img {
  width: 15px;
}
